$light: #fff;
$dark: #101010;
$grey1: #333333;
$grey2: #d9d9d9;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    overscroll-behavior: none;
}

body {
    background: $light;
    color: $dark;
    font-family: JakartaRegular;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

// Small devices
@mixin mobile {
    @media (max-width: 540px) {
        @content;
    }
}

@import "utilities/utilities";
@import "components/components";
@import "pages/pages";
