.Belief {
    background: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    @include verticalGap;

    #container {
        > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
                max-width: 960px;
                width: 100%;

                &:nth-child(2) {
                    margin-top: 2rem;
                }
            }
        }
    }
}
