.expertise_header {
    height: 100vh;
    background: $light;
    position: relative;

    #container {
        display: flex;
        align-items: center;

        h2 {
            max-width: 960px;
        }
    }
}

// Header image
.expertise_header_img {
    .parallax_img {
        height: 100vh;
        overflow: hidden;
        filter: brightness(80%);
    }
}

@media (max-width: 1040px) {
    .expertise_header_img {
        .parallax_img {
            height: 80vh;
            overflow: hidden;
            filter: brightness(80%);
        }
    }
}
